<%- include('./partials/header.ejs') %>
<body class="new_pg">
    <h1 class="new_header"> Add a New Shoe </h1>

    <button class="nav_Btn"><a href="/mycloset"> Back to Collection </a></button>
    <div class="new_form">
    <form action="/mycloset" method="POST">
            <label for="brand">Brand:</label>
            <input class="input-box" id="brand" type="text" name="brand"><br>
          
            <label for="name">Name:</label>
            <input class="input-box"id="name" type="text" name="name"><br>
          
            <label for="img">Image:</label>
            <input class="input-box" id="img" type="url" name="img" placeholder="place url here"><br>

            <label for="color">Color:</label>
            <input class="input-box" id="color" type="text" name="color"><br>
          
            <label for="price">Price:</label>
            <input class="input-box" id="price" type="text" name="price"><br>
          
            <label for="category">Category:</label>
            <input class="input-box" id="category" type="text" name="category" placeholder="Sneaker/Sandal/Heel/Boot"><br>
          
            <label for="comfortable">Comfortable?</label>
            <input class="input-box" id="comfortable" type="checkbox" name="comfortable"><br>
         
          <button class="s-btn">Add new Shoe!</button>
    </form>
  </div>

</body>

    <%- include('./partials/footer.ejs') %>