<%- include('./partials/header.ejs') %>

    <h1> Add a New Shoe </h1>
    <form action="/mycloset" method="POST">
        <fieldset>
            <label for="brand">Brand:</label>
            <input id="brand" type="text" name="brand">
          </fieldset>
          <fieldset>
            <label for="name">Name:</label>
            <input id="name" type="text" name="name">
          </fieldset>
          <fieldset>
            <label for="img">Image:</label>
            <input id="img" type="url" name="img" placeholder="place url here">
          </fieldset>
          <fieldset>
            <label for="price">Price:</label>
            <input id="price" type="text" name="price">
          </fieldset>
          <fieldset>
            <label for="category">Category:</label>
            <input id="category" type="text" name="category" placeholder="Sneaker/Sandal/Heel/Boot">
          </fieldset>
          <fieldset>
            <label for="comfortable">Comfortable?</label>
            <input id="comfortable" type="checkbox" name="comfortable">
          </fieldset>
          <button>Add new Shoe!</button>
    </form>

    <%- include('./partials/footer.ejs') %>