@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Monoton&family=Orbitron:wght@900&family=Rock+Salt&family=Rubik+Burned&family=Rubik+Distressed&display=swap');

header {
    background-color: black;
    color: white;
    padding: 30px;
    font-size: 40px;
    font-family: 'Monoton', cursive;;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

a {
    text-decoration: none;
}

.welcome {
    font-family: 'Monoton', cursive;
    color: black;
    padding-bottom: 0%;
}

/* Index Page */
.index_header {
    text-align: center;
    font-size: 18px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.index_img {
    float: left;
    width:  450px;
    height: 295px;
}

.index_info {
    text-align: center;
}

#new_btn {
    display: flex;
    text-align: center;
    margin: 15px;
    padding: 12px 28px;
    border-radius: 8px;
    background-color: lightgray;
    
}

/* Show Page */
.show_pg {
    background: url('https://i.postimg.cc/9XSzJxy1/showpagebackgroundop.png');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
}

.show_header {
    text-align: center;
    margin-top: 50px;

}

.show_info {
    margin-left: 50%;
    margin-top: 10%;
    text-align: center;
}

.show_img {
    border: 5px solid black;
    border-radius: 8px;
    width:  450px;
    height: 295px;
}

.show_list {
    list-style: none;
    font-size: 20px;
}

.nav_Btn {
    margin: 15px;
    padding: 12px 28px;
    border-radius: 8px;
    background-color: lightgray;
}

/* Edit Page */
.edit_pg {
    background: url('https://i.postimg.cc/Njd2YgNp/fadedshoeboxes.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.edit_header {
    text-align: center;
    color: black;
    background-color: white;
    border: 2px solid  black;
    margin-top: 15px;
}

.edit_form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border: 2px solid  black;
    background: #fff;
    padding: 30px;
    margin: 8% auto 0;
    text-align: center;  
}

.edit_nav_Btn {
    text-align: center;
    margin: 15px;
    padding: 12px 28px;
    border-radius: 8px;
    background-color: lightgray;
}

/* New Page */
.new_pg {
    background: url('https://i.postimg.cc/Njd2YgNp/fadedshoeboxes.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.new_header {
    text-align: center;
    color: black;
    background-color: white;
    border: 2px solid  black;
    margin-top: 15px;
}

.new_form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border: 2px solid  black;
    background: #fff;
    padding: 30px;
    margin: 8% auto 0;
    text-align: center;  
}

footer {
    text-align: center;
    padding: 10px;
    bottom: 0;
    position: fixed;
}

.footer { 
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    height: 20px;
    margin: 10px;
}


.sign-in_pg {
    margin: 0;
    padding: 0;
    background: url('https://i.postimg.cc/Njd2YgNp/fadedshoeboxes.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 108vh;
}

.sign-in {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border: 2px solid  black;
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;  
}

.signin-btn {
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 8px;
    padding: 12px 28px;
}

.registration_pg {
    margin: 0;
    padding: 0;
    background: url('https://i.postimg.cc/Njd2YgNp/fadedshoeboxes.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 108vh;
}

.registration {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border: 2px solid  black;
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;  
}

.input-box {
   border-radius: 20px;
   padding: 10px;
   margin: 10px;
   margin: 10px 0;
   width: 90%;
   border: 1px solid #999;
   outline: none;
}

.s-btn {
    background-color: black;
    color:#fff;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

hr {
    margin-top: 20px;
    width: 90%;
}

.signout-btn {
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 8px;
    padding: 12px 28px;
}
