
<%- include('../partials/header.ejs') %>

<body>
    <h1> Register a New User</h1>
    <form action="/users/register" method="POST">
        <fieldset>
            <label for="username"> Username:</label>
            <input type="text" name="username" id="username">
        </fieldset>
        <fieldset>
            <label for="password"> Password:</label>
            <input type="password" name="password" id="password">
        </fieldset>
        <input type="submit" value="Sign Up">
    </form>
</body>

<%- include('../partials/footer.ejs') %>