<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Shoe Closet </title>
    <header> My Shoe Closet </header>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="sign-in_pg">
    <div class="sign-in">
        <h1> Sign In </h1>
    <form action="/users/signin" method="POST">
            <input class="input-box" type="text" name="username" placeholder="Username">
            <input class="input-box" type="password" name="password" placeholder="Password">
            <br>
        <button type="submit" class="s-btn"> Sign In </button>
        <hr>
        <p> Create an Account: <a href="/users/register"> Sign up </a></p>
        </form>
    </div>
</body>
</div>

<%- include('../partials/footer.ejs') %>
