<%- include('../partials/header.ejs') %>

<body>
    <h1> Sign In </h1>
    <form action="/users/signin" method="POST">
        <fieldset>
            <label for="username"> Username:</label>
            <input type="text" name="username" id="username">
        </fieldset>
        <fieldset>
            <label for="password"> Password:</label>
            <input type="password" name="password" id="password">
        </fieldset>
        <input type="submit" value="Sign In">
    </form>
</body>

<%- include('../partials/footer.ejs') %>
